In [20]:
import pandas as pd 
import numpy as np

In [21]:
ticket = pd.read_csv('ticket.csv')

In [22]:
ticket.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,5/6/2019,90000.0,0000000014,20074925,5/6/2019,18:15,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,5/6/2019,90000.0,0000000014,20074924,5/6/2019,18:15,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,5/22/2019,90000.0,0000000034,20097042,5/22/2019,20:45,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,5/22/2019,90000.0,0000000034,20097041,5/22/2019,20:45,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,5/30/2019,90000.0,0000000034,20106761,5/30/2019,19:30,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không

In [23]:
ticket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35474 entries, 0 to 35473
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   orderid       35378 non-null  object
 1   cashier       35474 non-null  object
 2   saledate      35378 non-null  object
 3   total         35378 non-null  float64
 4   customerid    35474 non-null  object
 5   ticketcode    35474 non-null  int64
 6   date          35474 non-null  object
 7   time          35474 non-null  object
 8   slot          35474 non-null  object
 9   room          35474 non-null  int64
 10  film          35474 non-null  object
 11  slot type     35474 non-null  object
 12  ticket type   35474 non-null  object
 13  ticket price  35474 non-null  int64
 14  popcorn       35378 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 4.1+ MB

In [24]:
ticket['row'] = ticket['slot'].apply(lambda x: x[0])
ticket['seat'] = ticket['slot'].apply(lambda x: int(x[1:]))

In [25]:
ticket.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,row,seat
0,10006052019B0225,emp002,5/6/2019,90000.0,0000000014,20074925,5/6/2019,18:15,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,G,4
1,10006052019B0225,emp002,5/6/2019,90000.0,0000000014,20074924,5/6/2019,18:15,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,G,3
2,10022052019B0167,emp011,5/22/2019,90000.0,0000000034,20097042,5/22/2019,20:45,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không,E,4
3,10022052019B0167,emp011,5/22/2019,90000.0,0000000034,20097041,5/22/2019,20:45,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không,E,3
4,10130052019B0141,emp005,5/30/2019,90000.0,0000000034,20106761,5/30/2019,19:30,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không,F,4

In [26]:
ticket.isna().sum()

orderid         96
cashier          0
saledate        96
total           96
customerid       0
ticketcode       0
date             0
time             0
slot             0
room             0
film             0
slot type        0
ticket type      0
ticket price     0
popcorn         96
row              0
seat             0
dtype: int64

In [27]:
ticket.dropna(axis=0, inplace=True)

In [28]:
ticket['hour'] = ticket['time'].apply(lambda x: x[:x.index(':')])

In [29]:
ticket['saledate'] = pd.to_datetime(ticket['saledate'], format='%m/%d/%Y')
ticket['date'] = pd.to_datetime(ticket['date'], format='%m/%d/%Y')
ticket['time'] = pd.to_datetime(ticket['time'], format='%H:%M').dt.time

In [30]:
ticket['purchased in advance'] = ticket['date']-ticket['saledate']

In [31]:
ticket.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,row,seat,hour,purchased in advance
0,10006052019B0225,emp002,2019-05-06,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,G,4,18,0 days
1,10006052019B0225,emp002,2019-05-06,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,G,3,18,0 days
2,10022052019B0167,emp011,2019-05-22,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không,E,4,20,0 days
3,10022052019B0167,emp011,2019-05-22,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không,E,3,20,0 days
4,10130052019B0141,emp005,2019-05-30,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không,F,4,19,0 days

In [32]:
ticket[['cashier', 'slot', 'room', 'slot type', 'ticket type', 'popcorn', 'row', 'seat', 'hour']] = ticket[['cashier', 'slot', 'room', 'slot type', 'ticket type', 'popcorn', 'row', 'seat', 'hour']].astype('category')
ticket['total'] = ticket['total'].astype('int')
ticket['hour'] = ticket['hour'].cat.reorder_categories(new_categories=list(str(i) for i in range(7, 24)), ordered=True)
ticket['seat'] = ticket['seat'].cat.reorder_categories(new_categories=list(range(1, 20)), ordered=True)
# ticket['hour'] = ticket['hour'].cat.reorder_categories(new_categories=list(chr(i) for i in range(7, 24)), ordered=True)

In [33]:
ticket

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,row,seat,hour,purchased in advance
0,10006052019B0225,emp002,2019-05-06,90000,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,G,4,18,0 days
1,10006052019B0225,emp002,2019-05-06,90000,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,G,3,18,0 days
2,10022052019B0167,emp011,2019-05-22,90000,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không,E,4,20,0 days
3,10022052019B0167,emp011,2019-05-22,90000,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không,E,3,20,0 days
4,10130052019B0141,emp005,2019-05-30,90000,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không,F,4,19,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35469,10130052019B0192,emp005,2019-05-30,180000,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không,B,10,21,0 days
35470,10130052019B0192,emp005,2019-05-30,180000,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không,B,9,21,0 days
35471,10130052019B0192,emp005,2019-05-30,180000,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không,B,7,21,0 days
35472,12508052019B0036,emp007,2019-05-08,90000,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,C,14,19,0 days
35473,12508052019B0036,emp007,2019-05-08,90000,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,C,13,19,0 days

In [34]:
ticket.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35378 entries, 0 to 35473
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   orderid               35378 non-null  object
 1   cashier               35378 non-null  category
 2   saledate              35378 non-null  datetime64[ns]
 3   total                 35378 non-null  int32
 4   customerid            35378 non-null  object
 5   ticketcode            35378 non-null  int64
 6   date                  35378 non-null  datetime64[ns]
 7   time                  35378 non-null  object
 8   slot                  35378 non-null  category
 9   room                  35378 non-null  category
 10  film                  35378 non-null  object
 11  slot type             35378 non-null  category
 12  ticket type           35378 non-null  category
 13  ticket price          35378 non-null  int64
 14  popcorn               35378 non-null  category
 15  row                   35378 non-null  category
 16  seat                  35378 non-null  category
 17  hour                  35378 non-null  category
 18  purchased in advance  35378 non-null  timedelta64[ns]
dtypes: category(9), datetime64[ns](2), int32(1), int64(2), object(4), timedelta64[ns](1)
memory usage: 3.2+ MB

In [35]:
ticket.set_index('orderid').to_csv('ticket_cleaned.csv')